{% extends "admin/layout.html" %}
{% block content %}

<h3>Luo uusi tuote</h3>

<form action="/admin" method="POST">
    Nimi:<br>
    <input type="text" name="name"><br>
    Hinta:<br>
    <input type="number" name="price" step="0.01"><br>
    Kuvaus:<br>
    <textarea name="description" rows="3" cols="50"></textarea><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo tuote">
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

<h3>Tuotteet</h3>

<p>
    {% for product in products%}
    <a href="/admin/product/{{ product.id }}">{{ product.name }}</a>
    {{ product.price }} euroa, valikoimassa: {{ product.active }}<br>
    {% endfor %}
</p>

{% endblock %}