{% extends "admin/layout.html" %}
{% block content %}

<h3>Luo uusi tuote</h3>

<form action="/admin" method="POST">
    Nimi:<br>
    <input type="text" name="name"><br>
    Hinta:<br>
    <input type="number" name="price" step="0.01"><br>
    Kuvaus:<br>
    <textarea name="description" rows="3" cols="50"></textarea><br>
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
    <input type="submit" value="Luo tuote">
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

<h3>Tuotteet</h3>

<ul>
    {% for product in products%}
    <li>{{ product.name }}, {{ product.price }} euroa, valikoimassa: {{ product.active }},
        luotu: {{ product.created_at}}, tekijä: {{ product.creator_id }}, muokattu viimeksi: {{ product.updated_at }}
        <a href="/admin/product/{{ product.id }}">Muokkaa</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}