{% extends "admin/layout.html" %}
{% block content %}

<h3>{{ product.name }}</h3>

<b>Hinta:</b> {{ product.price }}<br>
<b>Lisääjä</b> {{ product.creator_id }}<br>
<b>Luotu:</b> {{ product.created_at.strftime("%d.%m.%Y %H:%M:%S") }}<br>
<b>Viimeksi muokattu:</b> {{ product.updated_at.strftime("%d.%m.%Y %H:%M:%S") }}<br>
<b>Valikoimassa:</b> {{ product.active }}<br>
{% if review_count > 0 %}
<b>Arvosana:</b> {{ avg_grade }} / 5 tähteä<br>
{% endif %}
<b>Arvosteluita:</b> {{ review_count }} kpl<br>
<b>Kuvaus:</b><br> {{ product.description }}

<h3>Tuotteen päivitys</h3>
<p>Tyhjäksi jätettyjä kohtia ei muuteta.</p>

<form action="/admin/product/{{ product.id }}/update" method="POST">
    Uusi nimi:<br>
    <input type="text" name="name"><br>
    Uusi hinta:<br>
    <input type="number" name="price" step="0.01" min="0.01"><br>
    Uusi kuvaus:<br>
    <textarea name="description" rows="3" cols="50"></textarea><br>
    <label for="active">Näytä tuote valikoimassa</label>
    <input type="checkbox" name="active" checked><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Vahvista muutokset">
</form>

{% if error_message %}
<p style="color: red;">{{ error_message }}</p>
{% endif %}

{% endblock %}
