html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    overflow-wrap: break-word;
    margin: auto;
}

a {
    text-decoration-line: none;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#delete_button {
    color: red;
    border-width: 0;
    font-size: 16px;
    background-color: white;
}
