{% extends "layout.html" %}
{% block content %}

<h3>Tilauksen yhteenveto</h3>
<p>Summa yhteensä: {{ session.cart_sum }} euroa</p>
<table>
    {% for item in items %}
    <tr>
        <td><b>{{ item.name }}</b></td>
        <td>| {{ item.price }}€/kpl,</td>
        <td>määrä: {{ item.quantity }}kpl,</td>
        <td>summa: {{ item.sum }}€</td>
    </tr>
    {% endfor %}
</table>

<h3>Vahvista tilaus klikkaamalla maksutapaa</h3>
<form action="" method="POST" style="font-size:larger;">
    <input type="submit" value="PANKKI A">
    <input type="submit" value="PANKKI B">
    <input type="submit" value="KORTTI C">
    <input type="hidden" name="items" value="{{ items }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% endblock %}