<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Verkkokauppasovellus</title>
<p>
    <a href="/">Verkkokauppasovellus</a>
    <span style="float: right;">
        {% if session.user_role == "customer" %}
        {{ session.username }} |
        <a href="/user/{{ session.user_id }}">Ostoskori:</a> {{ session.cart_sum}} euroa |
        <a href="/logout"> Kirjaudu ulos</a><br>

        {% elif session.user_role == "admin" %}
        Olet kirjautunut admin-tunnuksella: {{ session.username }} |
        <a href="/admin">Siirry adminiin</a> |
        <a href="/logout"> Kirjaudu ulos</a>

        {% else %}
        <a href="/login">Kirjaudu sisään</a> |
        <a href="/register">Luo käyttäjätunnus</a>
        {% endif %}
    </span>
</p>

{% block content %}{% endblock %}