{% extends "layout.html" %}
{% block content %}

<h3>{{ product.name }}</h3>
<p>
    Hinta: {{ product.price }} euroa<br>
    Kuvaus:<br>
    {{ product.description }}
</p>

{% if session.user_role == 'customer' %}
<form action="/add_to_cart" method="POST">
    Määrä: <input type="number" name="quantity" min="1" value="1" style="width: 3em">
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="submit" value="Lisää ostoskoriin">
</form>

{% endif %}

{% endblock %}