{% extends "layout.html" %}
{% block content %}

<h3>{{ product.name }}</h3>
<p>
    <b>Hinta:</b> {{ product.price }} euroa<br>
    <b>Kuvaus:</b><br>
    {{ product.description }}
</p>

{% if session.user_role == 'customer' %}
<form action="/add_to_cart" method="POST">
    Määrä: <input type="number" name="quantity" min="1" max="50" value="1" required style="width: 3em">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lisää ostoskoriin">
</form>

{% endif %}

{% endblock %}