{% extends "layout.html" %}
{% block content %}

<h3>{{ product.name }}</h3>
<p>
    <b>Hinta:</b> {{ product.price }} euroa<br>
    {% if review_count > 0 %}
    <b>Arvosana:</b> {{ avg_grade }} / 5 tähteä<br>
    {% endif %}
    <b>Arvosteluita:</b> {{ review_count }} kpl<br>
    <b>Kuvaus:</b><br>
    {{ product.description }}
</p>

{% if session.user_role == 'customer' %}
<form action="/add_to_cart" method="POST">
    Määrä: <input type="number" name="quantity" min="1" max="50" value="1" required style="width: 3em">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lisää ostoskoriin">
</form>

<h3>Arvostele tuote</h3>
<form action="/add_review" method="POST">
    Montako tähteä? (1-5)<br>
    <input type="number" name="grade" min="1" max="5" required style="width: 3em;"><br>
    Kirjoita arvostelu<br>
    <textarea name="content" rows="3" cols="50" minlength="1" maxlength="500" required></textarea><br>
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Lisää arvostelu">
</form>
{% endif %}

<h3>Arvostelut</h3>
{% if review_count == 0 %}
Ei vielä arvosteluita
{% endif %}

{% for review in reviews_list %}
<p>
    <b>Arvosteltu: </b> {{ review.created_at.strftime("%d.%m.%Y klo %H:%M") }}<br>
    <b>Arvosana: </b> {{ review.grade }} tähteä<br>
    {{ review.content }}
</p>
{% endfor %}

{% endblock %}