<form action="/register" method="POST">
    Käyttäjätunnus:<br>
    <input type="text" name="username"><br>
    Salasana:<br>
    <input type="password" name="password1"><br>
    Toista salasana:<br>
    <input type="password" name="password2"><br>
    <p>
        Voit luoda myös ylläpitäjän roolin, jolla pääsee palvelun backoffice-ympäristöön.<br>
        <input type="checkbox" name="create_admin">
        <label for="create_admin">Tee roolista ylläpitäjä</label>
    </p>
    <input type="submit" value="Luo tunnus">
</form>

{% if error_message %}
<p style="color: red;">Virhe: {{ error_message }}</p>
{% endif %}
<p>
    Jos sinulla on jo käyttäjätunnus, <a href="/login">kirjaudu sisään</a>
</p>
<a href="/">Palaa etusivulle</a>